@import 'normalize';
@import 'material-theme';

.text {

    &-error {
        color: $warn;
    }

    &-success {
        color: mat-color($mat-green, 500);
    }
}

.pointer {
    cursor: pointer;
}

.split-16 {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.flex-spacer {
    flex-grow: 1;
}

mat-spinner, mat-progress-spinner {

    &.inline {
        display: inline-block;
        margin: 0;
    }
}

button.link {
    padding: 0;
    border: none;
    border-bottom: 1px solid #444;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

@media (min-width: 720px) {

    .right-margin-8-720 {
        margin-right: 8px;
    }
}
